@model Gold_Sales.Models.CompanyEmp

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.EmpID, "Employee ID")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.EmpID)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.Company.CompanyID, "Company ID")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Company.CompanyID)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.LabelFor(model => model.Company.CompanyName, "Company Name")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Company.CompanyName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.active,"Active")
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.active)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.rowcreateddate,"Row Created Date")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.rowcreateddate)
                    </td>
                </tr>
                @*<tr>
            <th>
                @Html.LabelFor(model => model.MachineIP)
            </th>

            <td>
                @Html.DisplayFor(model => model.MachineIP)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.MachineUser)
            </th>

            <td>
                @Html.DisplayFor(model => model.MachineUser)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.userid)
            </th>

            <td>
                @Html.DisplayFor(model => model.userid)
            </td>
        </tr>*@
                <tr>
                    <th>
                        @Html.LabelFor(model => model.rowupdateddate,"Row Updated Date")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.rowupdateddate)
                    </td>
                </tr>
                @*<tr>
            <th>
                @Html.LabelFor(model => model.Machineipupdated)
            </th>

            <td>
                @Html.DisplayFor(model => model.Machineipupdated)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Machinenameupdated)
            </th>

            <td>
                @Html.DisplayFor(model => model.Machinenameupdated)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Machineuserupdated)
            </th>

            <td>
                @Html.DisplayFor(model => model.Machineuserupdated)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.useridupdated)
            </th>

            <td>
                @Html.DisplayFor(model => model.useridupdated)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.iabc)
            </th>

            <td>
                @Html.DisplayFor(model => model.iabc)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.idef)
            </th>

            <td>
                @Html.DisplayFor(model => model.idef)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.ighi)
            </th>

            <td>
                @Html.DisplayFor(model => model.ighi)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.ijkl)
            </th>

            <td>
                @Html.DisplayFor(model => model.ijkl)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Sabc)
            </th>

            <td>
                @Html.DisplayFor(model => model.Sabc)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Sdef)
            </th>

            <td>
                @Html.DisplayFor(model => model.Sdef)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Sghi)
            </th>

            <td>
                @Html.DisplayFor(model => model.Sghi)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Sjkl)
            </th>

            <td>
                @Html.DisplayFor(model => model.Sjkl)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Dabc)
            </th>

            <td>
                @Html.DisplayFor(model => model.Dabc)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Ddef)
            </th>

            <td>
                @Html.DisplayFor(model => model.Ddef)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Dghi)
            </th>

            <td>
                @Html.DisplayFor(model => model.Dghi)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Djkl)
            </th>

            <td>
                @Html.DisplayFor(model => model.Djkl)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.DECabc)
            </th>

            <td>
                @Html.DisplayFor(model => model.DECabc)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.DECdef)
            </th>

            <td>
                @Html.DisplayFor(model => model.DECdef)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.DECghi)
            </th>

            <td>
                @Html.DisplayFor(model => model.DECghi)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.DECjkl)
            </th>

            <td>
                @Html.DisplayFor(model => model.DECjkl)
            </td>
        </tr>*@



            </tbody>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpID }, new { @class = "btn btn-success" })
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
</p>
