<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-desktop"></i> Dashboard </a>

            </li>
            <li>
                <a href="@Url.Action("Index", "TableTemplate")"><i class="fa fa-desktop"></i> Table Template </a>

            </li>
            @*<li>
            <a><i class="fa fa-sitemap"></i> Branshes <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li>@Html.ActionLink("Show Branches", "Index", "Branches")</li>
                <li>@Html.ActionLink("Add new branch", "Create", "Branches")</li>


            </ul>
        </li>*@
            @*item form-group*@
            @*<li>
            <a><i class="fa fa-institution"></i> Companies <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li>@Html.ActionLink("Show Companies", "Index", "Companies")</li>
                <li>@Html.ActionLink("Add new Company", "Create", "Companies")</li>


            </ul>
        </li>*@
            <li>
                <a><i class="fa fa-archive"></i>Item Groups <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink("Show Items Groups", "Index", "ItemGroups")</li>
                    <li>@Html.ActionLink("Add new Item Group", "Create", "ItemGroups")</li>


                </ul>
            </li>
            <li>
                <a><i class="fa-hold-o"></i>Items <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink("Show Items", "Index", "Items")</li>
                    <li>@Html.ActionLink("Add new Item", "Create", "Items")</li>


                </ul>
            </li>
            <li>
            <li>
                <a><i class="fa fa-users"></i>Customers <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink("Show Customer", "Index", "Customers")</li>
                    <li>@Html.ActionLink("Add new Customer", "Create", "Customers")</li>


                </ul>
            </li>
            <li>
                <!---fa fa-cogs-->
                <a><i class="fa fa-money"></i>Vendors <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink("Show Vendors", "Index", "Vendors")</li>
                    <li>@Html.ActionLink("Add new Vendor", "Create", "Vendors")</li>


                </ul>
            </li>
            <li>
                <a><i class="fas fa-id-card"></i> Company Employees <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink("Show Employees", "Index", "CompanyEmps")</li>
                    <li>@Html.ActionLink("Add new Employee", "Create", "CompanyEmps")</li>


                </ul>
            </li>
            <li>
                <a><i class="fas fa-dollar"></i> Currency Rates <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink("Show Currency Rates", "Index", "CurrencyRates")</li>
                    <li>@Html.ActionLink("Add new Currency Rate", "Create", "CurrencyRates")</li>


                </ul>
            </li>

            <li>
                <a><i class="fa fa-anchor"></i> Look Up <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink("Cities", "Index", "Cities")</li>
                    <li>@Html.ActionLink("Taxes", "Index", "Taxes")</li>
                    <li>@Html.ActionLink("Item Groups", "Index", "ItemGroups")</li>
                    <li>@Html.ActionLink("Currency", "Index", "Currencies")</li>



                </ul>
            </li>

            <li>
                <a><i class="fa fa-wrench"></i> Settings <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink("Company", "Index", "Companies")</li>
                    <li>@Html.ActionLink("Branches", "Index", "Branches")</li>
                    <li>@Html.ActionLink("InventSite", "Index", "InventSites")</li>



                </ul>
            </li>
        </ul>
    </div>

</div>

