@model IEnumerable<Gold_Sales.Models.Tax>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.TaxID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISPrcVal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tax_Prc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tax_Val)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rowcreateddate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.MachineIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MachineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MachineUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userid)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.rowupdateddate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Machineipupdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Machinenameupdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Machineuserupdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.useridupdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iabc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ighi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ijkl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sabc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sdef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sghi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sjkl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dabc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ddef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dghi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Djkl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DECabc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DECdef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DECghi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DECjkl)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaxType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISPrcVal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tax_Prc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tax_Val)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rowcreateddate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.MachineIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MachineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MachineUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userid)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.rowupdateddate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Machineipupdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Machinenameupdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Machineuserupdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.useridupdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iabc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ighi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ijkl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sabc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sdef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sghi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sjkl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dabc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ddef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dghi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Djkl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DECabc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DECdef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DECghi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DECjkl)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaxID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaxID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaxID })
        </td>
    </tr>
}

</table>
