@model Gold_Sales.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                <th>
                    @Html.LabelFor(model => model.CustomerID,"Customer ID")
                </th>

                <td>
                    @Html.DisplayFor(model => model.CustomerID)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.CompanyID,"Company ID")
                </th>

                <td>
                    @Html.DisplayFor(model => model.CompanyID)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Custname,"Customer Name")
                </th>

                <td>
                    @Html.DisplayFor(model => model.Custname)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.CustDesc,"Customer Description")
                </th>

                <td>
                    @Html.DisplayFor(model => model.CustDesc)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.CustCategory, "Category")
                </th>

                <td>
                    @Html.DisplayFor(model => model.CustCategory)
                </td>
            </tr>
            <tr>

                <th>
                    @Html.LabelFor(model => model.CustCatDesc, "Category Description")
                </th>

                <td>
                    @Html.DisplayFor(model => model.CustCatDesc)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.CustKawmyID, "National ID")
                </th>

                <td>
                    @Html.DisplayFor(model => model.CustKawmyID)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.CustPassID, "Passport ID")
                </th>

                <td>
                    @Html.DisplayFor(model => model.CustPassID)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.CustTaxCardNo, "Tax Card No.")
                </th>

                <td>
                    @Html.DisplayFor(model => model.CustTaxCardNo)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.CustCreditLimit, "Credit Limit")
                </th>

                <td>
                    @Html.DisplayFor(model => model.CustCreditLimit)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.CustContacts, "Contacts")
                </th>

                <td>
                    @Html.DisplayFor(model => model.CustContacts)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.active,"Active")
                </th>

                <td>
                    @Html.DisplayFor(model => model.active)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.rowcreateddate,"Row Created Date")
                </th>

                <td>
                    @Html.DisplayFor(model => model.rowcreateddate)
                </td>
            </tr>
            @*<th>
            @Html.LabelFor(model => model.MachineIP)
        </th>

        <td>
            @Html.DisplayFor(model => model.MachineIP)
        </td>

        <th>
            @Html.LabelFor(model => model.MachineName)
        </th>

        <td>
            @Html.DisplayFor(model => model.MachineName)
        </td>

        <th>
            @Html.LabelFor(model => model.MachineUser)
        </th>

        <td>
            @Html.DisplayFor(model => model.MachineUser)
        </td>

        <th>
            @Html.LabelFor(model => model.userid)
        </th>

        <td>
            @Html.DisplayFor(model => model.userid)
        </td>*@
            <tr>
                <th>
                    @Html.LabelFor(model => model.rowupdateddate,"Row Updated Date")
                </th>

                <td>
                    @Html.DisplayFor(model => model.rowupdateddate)
                </td>
            </tr>
            @*<th>
            @Html.LabelFor(model => model.Machineipupdated)
        </th>*@

            @*<td>
            @Html.DisplayFor(model => model.Machineipupdated)
        </td>

        <th>
            @Html.LabelFor(model => model.Machinenameupdated)
        </th>

        <td>
            @Html.DisplayFor(model => model.Machinenameupdated)
        </td>

        <th>
            @Html.LabelFor(model => model.Machineuserupdated)
        </th>

        <td>
            @Html.DisplayFor(model => model.Machineuserupdated)
        </td>

        <th>
            @Html.LabelFor(model => model.useridupdated)
        </th>

        <td>
            @Html.DisplayFor(model => model.useridupdated)
        </td>

        <th>
            @Html.LabelFor(model => model.iabc)
        </th>

        <td>
            @Html.DisplayFor(model => model.iabc)
        </td>

        <th>
            @Html.LabelFor(model => model.idef)
        </th>

        <td>
            @Html.DisplayFor(model => model.idef)
        </td>

        <th>
            @Html.LabelFor(model => model.ighi)
        </th>

        <td>
            @Html.DisplayFor(model => model.ighi)
        </td>

        <th>
            @Html.LabelFor(model => model.ijkl)
        </th>

        <td>
            @Html.DisplayFor(model => model.ijkl)
        </td>

        <th>
            @Html.LabelFor(model => model.Sabc)
        </th>

        <td>
            @Html.DisplayFor(model => model.Sabc)
        </td>

        <th>
            @Html.LabelFor(model => model.Sdef)
        </th>

        <td>
            @Html.DisplayFor(model => model.Sdef)
        </td>

        <th>
            @Html.LabelFor(model => model.Sghi)
        </th>

        <td>
            @Html.DisplayFor(model => model.Sghi)
        </td>

        <th>
            @Html.LabelFor(model => model.Sjkl)
        </th>

        <td>
            @Html.DisplayFor(model => model.Sjkl)
        </td>

        <th>
            @Html.LabelFor(model => model.Dabc)
        </th>

        <td>
            @Html.DisplayFor(model => model.Dabc)
        </td>

        <th>
            @Html.LabelFor(model => model.Ddef)
        </th>

        <td>
            @Html.DisplayFor(model => model.Ddef)
        </td>

        <th>
            @Html.LabelFor(model => model.Dghi)
        </th>

        <td>
            @Html.DisplayFor(model => model.Dghi)
        </td>

        <th>
            @Html.LabelFor(model => model.Djkl)
        </th>

        <td>
            @Html.DisplayFor(model => model.Djkl)
        </td>

        <th>
            @Html.LabelFor(model => model.DECabc)
        </th>

        <td>
            @Html.DisplayFor(model => model.DECabc)
        </td>

        <th>
            @Html.LabelFor(model => model.DECdef)
        </th>

        <td>
            @Html.DisplayFor(model => model.DECdef)
        </td>

        <th>
            @Html.LabelFor(model => model.DECghi)
        </th>

        <td>
            @Html.DisplayFor(model => model.DECghi)
        </td>

        <th>
            @Html.LabelFor(model => model.DECjkl)
        </th>

        <td>
            @Html.DisplayFor(model => model.DECjkl)
        </td>*@

        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }, new { @class = "btn btn-success" })
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
</p>
