@model Gold_Sales.Models.ItemTax

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ItemTax</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.itemtaxspecval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemtaxspecval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rowcreateddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rowcreateddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rowupdateddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rowupdateddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machineipupdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machineipupdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machinenameupdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machinenameupdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machineuserupdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machineuserupdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.useridupdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.useridupdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.CompanyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.CompanyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tax.TaxName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax.TaxName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.itemtaxID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
