<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Partials/_HeadSection.cshtml")
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    @Html.Partial("~/Views/Shared/Partials/_NavbarTitle.cshtml")
                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    @Html.Partial("~/Views/Shared/Partials/_menuProfileQuickInfo.cshtml")
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    @Html.Partial("~/Views/Shared/Partials/_SideBarMenue.cshtml")
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    @Html.Partial("~/Views/Shared/Partials/_MenuFooterButtons.cshtml")
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            @Html.Partial("~/Views/Shared/Partials/_TopNavigation.cshtml")
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="clearfix"></div>
                        <div class="x_content">
                            <div class="col-md-12 col-sm-12 ">
                                <div class="x_panel">
                                    @Html.Partial("~/Views/Shared/Partials/_CardTitle.cshtml")

                                    @RenderBody()
                                </div>

                            </div>
                            </div>
                        </div>
            </div>
                </div>
            </div>
        <!-- /page content -->
        <!-- footer content -->
        @Html.Partial("~/Views/Shared/Partials/_Footer.cshtml")
        <!-- /footer content -->
    </div>

    @Html.Partial("~/Views/Shared/Partials/_SharedScripts.cshtml")
    @RenderSection("Scripts", required: false)
    @*@Scripts.Render("~/bundles/js")*@
</body>
</html>