@model Gold_Sales.Models.City

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CityName)
                </th>

                <td>
                    @Html.DisplayFor(model => model.CityName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CountryName)
                </th>

                <td>
                    @Html.DisplayFor(model => model.CountryName)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.active)
                </th>

                <td>
                    @Html.DisplayFor(model => model.active)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.rowcreateddate)
                </th>

                <td>
                    @Html.DisplayFor(model => model.rowcreateddate)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MachineIP)
                </th>

                <td>
                    @Html.DisplayFor(model => model.MachineIP)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MachineName)
                </th>

                <td>
                    @Html.DisplayFor(model => model.MachineName)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MachineUser)
                </th>

                <td>
                    @Html.DisplayFor(model => model.MachineUser)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userid)
                </th>

                <td>
                    @Html.DisplayFor(model => model.userid)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.rowupdateddate)
                </th>

                <td>
                    @Html.DisplayFor(model => model.rowupdateddate)
                </td>
            </tr>


            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Machineipupdated)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Machineipupdated)
                </td>
            </tr>


            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Machinenameupdated)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Machinenameupdated)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Machineuserupdated)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Machineuserupdated)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.useridupdated)
                </th>

                <td>
                    @Html.DisplayFor(model => model.useridupdated)
                </td>
            </tr>


        </tbody>
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CityID },new {@class = "btn btn-success" }) 
    @Html.ActionLink("Cancel", "Index",null, new { @class = "btn btn-primary" })
</p>

