@model Gold_Sales.Models.CurrencyRate

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.CurrencyID,"Currency ID")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CurrencyID)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.CurrRateDate,"Currency Rate Date")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CurrRateDate)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.CurrRate,"Currency Rate")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CurrRate)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.active,"Active")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.active)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.rowcreateddate,"Row Created Date")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.rowcreateddate)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.LabelFor(model => model.rowupdateddate,"Row Updated Date")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.rowupdateddate)
                    </td>
                </tr>

                @*<th>
                        @Html.LabelFor(model => model.MachineIP)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.MachineIP)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.MachineName)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.MachineName)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.MachineUser)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.MachineUser)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.userid)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.userid)
                    </td>*@



                @*<th>
                        @Html.LabelFor(model => model.Machineipupdated)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Machineipupdated)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.Machinenameupdated)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Machinenameupdated)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.Machineuserupdated)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Machineuserupdated)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.useridupdated)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.useridupdated)
                    </td>*@
                <tr>
                    <th>
                        @Html.LabelFor(model => model.Currency.Currencyname)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Currency.Currencyname)
                    </td>
                </tr>

            </tbody>
            <
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CurrencyID }, new { @class = "btn btn-success" })
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
</p>
