@model Gold_Sales.Models.pos_trans

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>pos_trans</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.trans_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trans_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trans_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trans_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trans_total_21)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trans_total_21)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trans_toatl_18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trans_toatl_18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.canceled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canceled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.syncstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.syncstatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inventsiteid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inventsiteid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.axsync)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.axsync)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.returnorder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.returnorder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.closure_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.closure_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rowcreateddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rowcreateddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_line)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_line)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machinename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machinename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineIPupdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineIPupdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineUserupdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineUserupdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineNameupdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineNameupdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.useridupdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.useridupdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iabc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iabc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ighi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ighi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ijkl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ijkl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sabc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sabc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sdef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sdef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sghi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sghi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sjkl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sjkl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dabc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dabc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ddef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ddef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dghi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dghi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Djkl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Djkl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DECabc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DECabc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DECdef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DECdef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DECghi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DECghi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DECjkl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DECjkl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
