@model Gold_Sales.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<div>
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.ItemID,"Item ID")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ItemID)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.CompanyID,"Company ID")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.CompanyID)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.ItemGroup.ItemGroupname,"Item Group Name")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ItemGroup.ItemGroupname)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.ItemUnit.itemunitname,"Item Unit Name")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ItemUnit.itemunitname)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.itemname,"Item Name")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.itemname)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.LabelFor(model => model.itemname_ENG,"Item Name English")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.itemname_ENG)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.LabelFor(model => model.ItemTaxCode,"Item Tax Code")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ItemTaxCode)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.LabelFor(model => model.TaxCodeType,"Item Code Type")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.TaxCodeType)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.LabelFor(model => model.ItemTaxUnit,"Item Tax Unit")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ItemTaxUnit)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.LabelFor(model => model.itemprice,"Item Price")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.itemprice)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.itemcost,"Item Cost")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.itemcost)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.itembarcode,"Item Bar Code")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.itembarcode)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.LabelFor(model => model.main_vendor,"Main Vendor")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.main_vendor)
                    </td>

                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.active,"Active")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.active)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.LabelFor(model => model.rowcreateddate,"Row Created Date")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.rowcreateddate)
                    </td>
                </tr>



                @*<th>
                        @Html.LabelFor(model => model.MachineIP)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.MachineIP)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.MachineName)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.MachineName)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.MachineUser)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.MachineUser)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.userid)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.userid)
                    </td>*@
                <tr>
                    <th>
                        @Html.LabelFor(model => model.rowupdateddate,"Row Updated Date")
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.rowupdateddate)
                    </td>
                </tr>


                @*<th>
                        @Html.LabelFor(model => model.Machineipupdated)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Machineipupdated)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.Machinenameupdated)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Machinenameupdated)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.Machineuserupdated)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Machineuserupdated)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.useridupdated)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.useridupdated)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.iabc)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.iabc)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.idef)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.idef)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.ighi)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ighi)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.ijkl)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.ijkl)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.Sabc)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Sabc)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.Sdef)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Sdef)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.Sghi)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Sghi)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.Sjkl)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Sjkl)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.Dabc)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Dabc)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.tdef)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.tdef)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.Dghi)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Dghi)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.Djkl)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.Djkl)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.DECabc)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.DECabc)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.DECdef)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.DECdef)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.DECghi)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.DECghi)
                    </td>

                    <th>
                        @Html.LabelFor(model => model.DECjkl)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.DECjkl)
                    </td>*@


            </tbody>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }, new { @class = "btn btn-success" })
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
</p>


