@model Gold_Sales.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemname_ENG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemname_ENG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemTaxCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemTaxCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxCodeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxCodeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemTaxUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemTaxUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemprice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemprice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemcost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemcost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itembarcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itembarcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.main_vendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.main_vendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rowcreateddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rowcreateddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rowupdateddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rowupdateddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machineipupdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machineipupdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machinenameupdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machinenameupdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machineuserupdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machineuserupdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.useridupdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.useridupdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iabc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iabc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ighi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ighi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ijkl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ijkl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sabc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sabc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sdef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sdef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sghi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sghi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sjkl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sjkl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dabc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dabc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ddef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ddef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dghi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dghi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Djkl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Djkl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DECabc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DECabc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DECdef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DECdef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DECghi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DECghi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DECjkl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DECjkl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemGroup.ItemGroupname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemGroup.ItemGroupname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemUnit.itemunitname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemUnit.itemunitname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
