@model Gold_Sales.Models.Item

@{
    ViewBag.Title = "Edit Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal form-label-left">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ItemID)

    <div class=" item form-group">
        @Html.LabelFor(model => model.itemname, "Item Name", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-6 col-sm-6 ">
            @Html.EditorFor(model => model.itemname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.itemname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class=" item form-group">
        @Html.LabelFor(model => model.itemname_ENG, "Item Name English", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-6 col-sm-6 ">
            @Html.EditorFor(model => model.itemname_ENG, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.itemname_ENG, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class=" item form-group">
        @Html.LabelFor(model => model.itemgroupid, "Item Group", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-6 col-sm-6 ">
            @Html.DropDownList("itemgroupid", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.itemgroupid, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class=" item form-group">
        @Html.LabelFor(model => model.itemprice, "Whole", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-6 col-sm-6 ">
            @Html.EditorFor(model => model.itemprice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.itemprice, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class=" item form-group">
        @Html.LabelFor(model => model.DECabc, "Retail", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-6 col-sm-6 ">
            @Html.EditorFor(model => model.DECabc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DECabc, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class=" item form-group">
        @Html.LabelFor(model => model.ItemUnit.itemunitcode, "Unit Code", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-6 col-sm-6 ">
            @Html.DropDownList("itemunitcode", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.itemunitcode, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class=" item form-group">
        @Html.LabelFor(model => model.itemcost, "Cost", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-6 col-sm-6 ">
            @Html.EditorFor(model => model.itemcost, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.itemcost, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class=" item form-group">
        @Html.LabelFor(model => model.active, "Active", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-6 col-sm-6 ">
            @Html.CheckBoxFor(model => model.active, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class=" item form-group">
        @Html.LabelFor(model => model.main_vendor, "Main Vendor", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-6 col-sm-6 ">
            @Html.EditorFor(model => model.main_vendor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.main_vendor, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class=" item form-group">
        @Html.LabelFor(model => model.ItemTaxCode, "Tax Code", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-6 col-sm-6 ">
            @Html.EditorFor(model => model.ItemTaxCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ItemTaxCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class=" item form-group">
        @Html.LabelFor(model => model.TaxCodeType, "Tax Code Type", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-6 col-sm-6 ">
            @Html.EditorFor(model => model.TaxCodeType, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TaxCodeType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class=" item form-group">
        @Html.LabelFor(model => model.ItemTaxUnit, "Tax Unit", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-6 col-sm-6 ">
            @Html.EditorFor(model => model.ItemTaxUnit, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ItemTaxUnit, "", new { @class = "text-danger" })
        </div>
    </div>







    <div class=" item form-group">
        @Html.LabelFor(model => model.itembarcode, "Item BarCode", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-6 col-sm-6 ">
            @Html.EditorFor(model => model.itembarcode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.itembarcode, "", new { @class = "text-danger" })
        </div>
    </div>




    @*<div class=" item form-group">
        @Html.LabelFor(model => model.rowcreateddate, "Row Created Date", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-6 col-sm-6 ">
            @Html.EditorFor(model => model.rowcreateddate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.rowcreateddate, "", new { @class = "text-danger" })
        </div>
    </div>*@

    @*<div class=" item form-group">
            @Html.LabelFor(model => model.MachineIP, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.MachineIP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MachineIP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.MachineName, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.MachineName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.MachineUser, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.MachineUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MachineUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.userid, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.userid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userid, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class=" item form-group">
        @Html.LabelFor(model => model.rowupdateddate, "Row Updated Date", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
        <div class="col-md-6 col-sm-6 ">
            @Html.EditorFor(model => model.rowupdateddate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.rowupdateddate, "", new { @class = "text-danger" })
        </div>
    </div>*@

    @*<div class=" item form-group">
            @Html.LabelFor(model => model.Machineipupdated, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.Machineipupdated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Machineipupdated, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.Machinenameupdated, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.Machinenameupdated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Machinenameupdated, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.Machineuserupdated, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.Machineuserupdated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Machineuserupdated, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.useridupdated, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.useridupdated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.useridupdated, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.iabc, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.iabc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.iabc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.idef, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.idef, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idef, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.ighi, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.ighi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ighi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.ijkl, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.ijkl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ijkl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.Sabc, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.Sabc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sabc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.Sdef, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.Sdef, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sdef, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.Sghi, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.Sghi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sghi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.Sjkl, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.Sjkl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sjkl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.Dabc, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.Dabc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dabc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.Ddef, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.Ddef, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ddef, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.Dghi, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.Dghi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dghi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.Djkl, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.Djkl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Djkl, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class=" item form-group">
            @Html.LabelFor(model => model.DECdef, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.DECdef, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DECdef, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.DECghi, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.DECghi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DECghi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" item form-group">
            @Html.LabelFor(model => model.DECjkl, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
            <div class="col-md-6 col-sm-6 ">
                @Html.EditorFor(model => model.DECjkl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DECjkl, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @Html.Partial("~/Views/Shared/Partials/_FormButtons.cshtml")

</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
